.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s ease-out;
}

.blackout {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 3;
}

.modal {
  width: 800px;
  height: 70%;
  margin-top: 10%;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 0;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
