.header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.image {
  max-height: 11rem;
  padding: 1rem 2rem 0rem 2rem;
  box-sizing: border-box;
}

.text {
  line-height: 1.6rem;
  padding: 1.5rem;
  color: black;
  text-align: left;
  font-size: 1.2rem;
}
