.App {
  display: flex;
  flex-direction: column;
  height: 4000px;
  box-sizing: border-box;
}

.bannerText {
  margin: 3rem 3rem 0 0;
}

.bannerNabcep {
  height: 11rem;
  margin: 6rem 3rem 0 0;
}

.bannerContainer {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  text-align: right;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.navbarSpacer {
  height: var(--navBarHeight);
}

.productTileContainer {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  width: 100%;
  align-items: center;
}

.productTileHeader {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.productTile {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.productTileImage {
  max-width: 13rem;
  padding: 1rem 2rem 0rem 2rem;
  box-sizing: border-box;
}

.productTileText {
  line-height: 1.3rem;
  padding: 1.5rem;
  color: black;
}
